<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2007-2015 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.walware.statet.redocs.wikitext.r.ui.editors.WikidocRweaveEditor"
            class="de.walware.statet.redocs.internal.wikitext.r.ui.debug.RetargettableActionAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="de.walware.statet.redocs.legacy.WikidocRweaveEditorRulerMenuDebugContribution"
            targetID="de.walware.statet.redocs.menus.WikidocRweaveEditorRulerMenu">
         <action
               id=".EnableDisableBreakpoint"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               label="%menus_EnableDisableBreakpoint_label"
               menubarPath="debug">
         </action>
         <action
               id=".ToggleBreakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
               icon="platform:/plugin/de.walware.statet.r.debug.ui/icons/obj_16/r_breakpoint.png"
               label="%menus_ToggleBreakpoint_label"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.walware.statet.redocs.legacy.WikidocRweaveEditorRulerDebugActions"
            targetID="de.walware.statet.redocs.editors.MarkdownRweave">
         <action
               id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction"
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               label="ToggleBreakpoint">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.walware.statet.redocs.legacy.WikidocRweaveEditorRulerDebugActions"
            targetID="de.walware.statet.redocs.editors.TextileRweave">
         <action
               id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction"
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               label="ToggleBreakpoint">
         </action>
      </editorContribution>
   </extension>
   
</plugin>
